@{
    Layout = "_Layout";
    ViewData["Title"] = "DisplayPerson - Lab3";
}
<h1>Your Favorite Person</h1>
<label>First Name: </label>@Model.FirstName
<br />
<label>Last Name: </label>@Model.LastName
<br />
<label>Age: </label>@Model.Age
<br />
<label>Email: </label>@Model.EmailAddress
<br />
<label>Date of Birth: </label>@Model.DOB
<br />
<label>Description: </label>@Model.Description
